* {
    font-family: "Space Mono", monospace;
}

html,
body {
    margin: 0;
    padding: 0;
    background: hsl(185, 41%, 84%);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
   
}

@font-face {
    font-family: "Space Mono", monospace;
    src: url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
}


.ativo {

    border-radius: 5px;
   
    font-weight: 700;
    font-size: 20px;
    font-family: "Space Mono", monospace;

    background-color: hsl(185, 41%, 84%);
    border: hsl(185, 41%, 84%) solid 1px;
    color: hsl(183, 100%, 15%);
}

.isZero {

    box-sizing: border-box;
    font-weight: 700;
    text-align: right;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    background: url("../tip-calculator-app-main-main/images/icon-person.svg") no-repeat center left+15px;
    background-color: hsl(189, 41%, 97%);
    border: red solid 1px;
    border-radius: 2px;
    color: hsl(183, 100%, 15%);
    font-family: "Space Mono", monospace;
    appearance: none;
    
}



@media screen and (min-width:701px) {

    #container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        margin:60px;
    }

    main {
        width: 50%;
        background: hsl(0, 0%, 100%);
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        border-radius: 15px;
        justify-content: space-between;
        min-width: 700px;
        padding: 35px;
    }


    label[for="bill"] {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: hsl(186, 14%, 43%);
    }

    input#bill {

        box-sizing: border-box;
        font-weight: 700;
        text-align: right;
        font-size: 24px;
        width: 90%;
        padding: 10px;
        background: url("../tip-calculator-app-main-main/images/icon-dollar.svg") no-repeat center left+20px;
        background-color: hsl(189, 41%, 97%);
        border: none;
        border-radius: 5px;
        color: hsl(183, 100%, 15%);

    }

    input:focus {
        outline: hsl(183, 100%, 15%) solid 1.5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .title {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        display: inline;
        font-size: 14px;
    }

    p.subTitle {
        color: hsl(189, 41%, 97%);
        font-size: 12px;
        font-weight: 700;
        display: inline;
        margin: 0;
        opacity: 0.5;

    }





    #tip {
        display: block;
        margin-bottom: 10px;
        margin-right: 40px;
        font-size: 16px;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
    }



    #tipButtonArea {

        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 7vh 7vh;
        grid-gap: 10px;


    }

    .buttonTip {
        border-radius: 5px;
        background: hsl(183, 100%, 15%);
        border: hsl(183, 100%, 15%) solid 1px;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 20px;
        font-family: "Space Mono", monospace;
    }

    .buttonTip:hover {
        background-color: hsl(185, 41%, 84%);
        border: hsl(185, 41%, 84%) solid 1px;
        color: hsl(183, 100%, 15%);
    }

    input#customTip {
        width: 98%;
        border-radius: 5px;
        background-color: hsl(185, 41%, 84%);
        text-align: center;
        border: none;
        font-family: "Space Mono", monospace;
        appearance: none;
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 24px;
    }


    #customTip::placeholder {

        text-align: center;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
        font-size: 20px;
    }


    #nPeople {
        box-sizing: border-box;
        font-weight: 700;
        text-align: right;
        font-size: 24px;
        width: 100%;
        padding: 10px;
        background: url("../tip-calculator-app-main-main/images/icon-person.svg") no-repeat center left+15px;
        background-color: hsl(189, 41%, 97%);
        border: none;
        border-radius: 2px;
        color: hsl(183, 100%, 15%);
        font-family: "Space Mono", monospace;
        appearance: none;
    }


    #result {
        width: 100%;
        background-color: hsl(183, 100%, 15%);
        height: 380px;
        border: solid hsl(183, 100%, 15%) 1px;
        border-radius: 14px;

        box-sizing: border-box;
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        grid-template-rows: 80px 100px 200px;
        grid-template-areas: "amount""total""reset";

    }

    #tipAmount {
        grid-area: amount;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #Total {
        grid-area: total;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    h1 {

        font-size: 40px;
        margin: 0;
        color: hsl(172, 67%, 45%);
    }

    #buttonReset {
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 18px;
        background-color: hsl(172, 67%, 45%);
        border: solid 1px hsl(172, 67%, 45%);
        width: 100%;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 60px;
    }

    #cabecalho {
        margin-top: 25px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
    }

    #zero {
        color: rgb(235, 37, 37);
        display: none;
    }

    #buttonReset:hover {
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 18px;
        background-color: hsl(185, 41%, 84%);
        border: solid 1px hsl(185, 41%, 84%);
        width: 100%;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }
    



}






@media screen and (max-width: 700px) {


    #container {

        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 25vh 75vh;
        grid-template-areas: "header""main";
        transform: 7s;
    }


    header {
        background: hsl(185, 41%, 84%);
        display: flex;
        align-items: center;
        justify-content: center;

    }


    main {
        background-color: hsl(0, 0%, 100%);
        height: 1000px;
        border-radius: 20px 20px 0 0;
        padding-top: 25px;
        padding-right: 35px;
        padding-left: 35px;
    }


    label[for="bill"] {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: hsl(186, 14%, 43%);
    }


    footer {
        display: none;
    }

    input#bill {

        box-sizing: border-box;
        font-weight: 700;
        text-align: right;
        font-size: 24px;
        width: 100%;
        padding: 10px;
        background: url("../tip-calculator-app-main-main/images/icon-dollar.svg") no-repeat center left+20px;
        background-color: hsl(189, 41%, 97%);
        border: none;
        border-radius: 2px;
        color: hsl(183, 100%, 15%);

    }


    input:focus {
        outline: hsl(183, 100%, 15%) solid 1.5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .title {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        display: inline;
        font-size: 14px;
    }

    p.subTitle {
        color: hsl(189, 41%, 97%);
        font-size: 12px;
        font-weight: 700;
        display: inline;
        margin: 0;
        opacity: 0.5;

    }


    input#bill::placeholder {
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 24px;

    }



    #tip {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
    }



    #tipButtonArea {

        box-sizing: border-box;
        width: 100%;

        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 8vh 8vh 8vh;
        grid-gap: 10px;


    }

    .buttonTip {
        border-radius: 5px;
        background: hsl(183, 100%, 15%);
        border: hsl(183, 100%, 15%) solid 1px;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 20px;
        font-family: "Space Mono", monospace;
    }

    input#customTip {
        width: 98%;
        border-radius: 5px;
        background-color: hsl(185, 41%, 84%);
        text-align: center;
        border: none;
        font-family: "Space Mono", monospace;
        appearance: none;
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 24px;
    }


    #customTip::placeholder {

        text-align: center;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
        font-size: 20px;
    }


    #nPeople {
        box-sizing: border-box;
        font-weight: 700;
        text-align: right;
        font-size: 24px;
        width: 100%;
        padding: 10px;
        background: url("../tip-calculator-app-main-main/images/icon-person.svg") no-repeat center left+15px;
        background-color: hsl(189, 41%, 97%);
        border: none;
        border-radius: 2px;
        color: hsl(183, 100%, 15%);
        font-family: "Space Mono", monospace;
        appearance: none;
    }


    #result {
        width: 100%;
        background-color: hsl(183, 100%, 15%);
        height: 40vh;
        border: solid hsl(183, 100%, 15%) 1px;
        border-radius: 14px;
        margin-top: 40px;
        box-sizing: border-box;
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        grid-template-rows: 80px 100px 200px;
        grid-template-areas: "amount""total""reset";
       
    }

    #tipAmount {
        grid-area: amount;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #Total {
        grid-area: total;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    h1 {

        font-size: 40px;
        margin: 0;
        color: hsl(172, 67%, 45%);
    }

    #buttonReset {
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 18px;
        background-color: hsl(172, 67%, 45%);
        border: solid 1px hsl(172, 67%, 45%);
        width: 100%;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }

    #buttonReset:hover {
        color: hsl(183, 100%, 15%);
        font-weight: 700;
        font-size: 18px;
        background-color: hsl(185, 41%, 84%);
        border: solid 1px hsl(185, 41%, 84%);
        width: 100%;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }
    

    #cabecalho {
        margin-top: 25px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
    }

    #zero {
        color: rgb(235, 37, 37);
        display: none;
    }


}
