html,
body {
    margin: 0;
    padding: 0;
    background: hsl(185, 41%, 84%);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

@font-face {
    font-family: "Space Mono", monospace;
    src: url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
}








@media screen and (max-width: 450px) {


    #container {

        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 25vh 75vh;
        grid-template-areas: "header""main";
        transform: 1s;
    }


    header {
        background: hsl(185, 41%, 84%);
        display: flex;
        align-items: center;
        justify-content: center;

    }


    main {
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px 20px 0 0;
        padding-top: 25px;
        padding-right: 35px;
        padding-left: 35px;
    }


    label[for="bill"] {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: hsl(186, 14%, 43%);
    }


    footer {
        display: none;
    }

    input#bill {

        box-sizing: border-box;
        font-weight: 700;
        text-align: right;
        font-size: 24px;
        width: 100%;
        padding: 10px;
        background: url("/images/icon-dollar.png") no-repeat center left+20px;
        background-color: hsl(189, 41%, 97%);
        border: none;
        border-radius: 8px;
        color: hsl(183, 100%, 15%);

    }

    input#bill:focus {
        outline: none;
    }

    #tip {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
    }



    #tipButtonArea {

        box-sizing: border-box;
        width: 100%;
      
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 8vh 8vh 8vh;
        grid-gap: 10px;


    }

    .buttonTip {
        border-radius: 5px;
        background: hsl(183, 100%, 15%);
        border: hsl(183, 100%, 15%) solid 1px;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 20px;
        font-family: "Space Mono", monospace;
    }

    input#customTip {
        width: 98%;
        border-radius: 5px;
        background-color: hsl(185, 41%, 84%);
        text-align: center;
        border:none;
        font-family: "Space Mono", monospace;
    }
    
    input#customTip:focus{
        border: hsl(183, 100%, 15%) solid 1px;
    }
    #customTip::placeholder{
       
        text-align: center;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
        font-size: 20px;
    }






}